<div class="container">
    <div class="row">
        <h2>
            Details of the Airline
        </h2>
        <hr>
        <p>
            <img class="card-img" [src]="selected.image" />
        </p>
        <p><input type="text" disabled class="form-control" [(ngModel)]="selected.airlineId"></p>
        <p><input type="text" disabled class="form-control" [(ngModel)]="selected.name"></p>
        <p><input type="text" disabled class="form-control" [(ngModel)]="selected.destination"></p>
        <p><input type="text" disabled class="form-control" [(ngModel)]="selected.fare"></p>
        <p>
            <button class="btn btn-primary" routerLink="/Airline/All">
                <i class="fa fa-arrow-left"></i>
                Back
            </button>
        </p>
    </div>
</div>