<p>master works!</p>
<div>
    <div>
        <div class="row">
            <div class="col-md-4">
                <h2>List Of Airlines with us</h2>
                <div>
                    <input [(ngModel)]="searchValue" placeholder="Search here" type="search" class="form-control" />
                </div>
                <table>
                    <tr>
                        <th>AirlineId</th>
                        <th>Name</th>
                        <th>Destination</th>
                    </tr>
                    <tr *ngFor="let air of airList | search: searchValue">
                        <td>{{air.airlineId}}</td>
                        <td>{{air.name }}</td>
                        <td>{{air.destination}}</td>
                        <td>
                            <button (click)="onDetailClick(air)" class="btn btn-info"><i
                                    class="fa fa-eye fa-round"></i>Details</button>

                        </td>

                    </tr>
                </table>
            </div>

            <!-- <div *ngIf="selectedair.Name !=null" class="col-md-5">
            <h2>Details of the selected employee</h2>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <img class="card-img" [src]="selectedair.Image" />
                </div>
                <div class="col-md-6">
                    <h2>{{selectedair.Name}}</h2>
                    <hr>
                    <p>{{selectedair.Destination}}</p>
                    <p>{{selectedair.Fare | currency : 'INR'}}</p>
                </div>
                <p></p>
            </div>
        </div> -->
           
        <div class="col-md-5">

            <app-air-details [airDetails]=selectedair></app-air-details>
    
        </div>
    
       <hr>
    
    
    
        <div class="row">
    
            <h2>Register to add flights</h2>
    
            <app-add-details (emitter)="onAddNew($event)"></app-add-details>"    
        </div>
    
    </div>
    
    </div>
        



       
    <!-- <div class="row">
        <h2>Register a new employee</h2>
        <app-add-details (emitter)="onAddNew($event)"></app-add-details>"
    </div> -->
</div>